<div class="question_new">
  <%= form_for @question do |f| %>
    <h3><%= f.label :title %></h3>
    <%= f.text_field :title %>
    <br> <br>
    <h3><%= f.label :body %></h3>
    <%= f.text_area :body %><br>

    <%= f.submit %>
  <% end %>
</div>
