<div class="question_show">
  <section class="main-question">
    <h2 class="question-title-tag"><%= @question.title %></h2>
    <div class="question-body">
      <p class="question-text"><%= @question.body %><p>
    </div>
    <div class = "question_edit_buttons">
      <% if session[:user_id] == @question.user_id %>
        <%= button_to 'Edit Question', {action: "edit", id: @question.id}, method: :get %>
        <%= button_to 'Delete Question', {action: "destroy", id: @question.id}, method: :delete %>
      <% end %>
    </div>
  </section>


  <div class="question_comments">
    <% @article = @question %>

    <h4> <%= link_to 'Reply', new_question_comment_path(@article) %></h4>

    <h4><%= link_to 'View Comments', question_comments_path(@article)%></h4>
    <%= render 'comments/index', locals: {article: @article} %>
    <br>
  <div>

  <div class = "question_answers">
  <h2> Answers </h2>
    <h4> <%= link_to 'Post an Answer', new_question_answer_path(@article) %> </h4> <br>

    <% @question.answers.each do |answer| %>
      <%= render partial: "answers/show", locals: {answer: answer} %> <br>
    <% end %>

  </div>
</div>
