<div class="comment-wrapper">
  <% @comment = locals[:comment] %>
  <% @article = @comment %>
  <p> <strong> <%= @comment.user.username %>: </strong> </p>
  <p><%= @comment.body %> </p>
  <p> <span class="datetime"> <%= @comment[:created_at] %> </span> </p>

  <%= form_tag new_comment_comment_path(@article), method: "get" do %>
    <%= submit_tag("Reply")  %>
  <% end %>


  <% if matches_current_user?(@comment.user) %>
    <%= form_for @comment, method: :delete do |f|%>
      <%= f.submit "Delete Comment" %>
    <% end %>
  <% end %>
</div>

<%= render 'comments/index', locals: {article: @article} %>
