<div class="comment-wrapper">
  <% @comment = comment %>
  <% @article = @comment %>
  <% anchor_id = comment.id %>
  <p> <strong> <%= @comment.user.username %>: </strong> </p>
  <p><%= @comment.body %> </p>
  <p> <span class="datetime"> <%= @comment[:created_at] %> </span> </p>

  <% if matches_current_user?(@comment.user) %>
    <%= form_for @comment, method: :delete do |f|%>
      <%= f.submit "Delete Comment" %>
    <% end %>
  <% end %>

  <%= form_tag new_comment_comment_path(@article),
  method: "get", :class => "reply_comment",
  :anchor_id => "#{@comment.id}" do %>
    <%= submit_tag "Reply" %>
  <% end %>

  <div class="display-comments">
    <%= render 'comments/index', locals: {article: @article } %>
    <div id=<%="comment_anchor_#{anchor_id}"%> ></div>
  </div>

</div>
