<!DOCTYPE html>
<html>
<head>
  <title>DBCOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
  <%= render partial: "/layouts/navigation" %>
  <%= render partial: "/layouts/splashplanation" %>
</header>
<%= yield %>
</body>
</html>
